* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  font-size: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 6.375rem;
  padding: 1rem 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img:nth-of-type(1) {
  width: 13.375rem;
  height: 4.5625rem;
}
header .mid {
  font-size: 2.25rem;
  color: #000;
}
header .two {
  height: 100%;
  color: #999;
}
header .two .iconfont {
  font-size: 2.0625rem;
}
header .two p {
  font-size: 1.375rem;
}

section {
  width: 100%;
  background: #F4f4f4;
  display: flex;
  flex-direction: column;
}
section .list {
  background: white;
  padding: 0 1.25rem 0 2.625rem;
}
section .list li {
  padding: 2.25rem 0;
  display: flex;
  flex-direction: column;
  border-bottom: 0.0625rem solid #eee;
}
section .list li .top {
  margin-bottom: 2.25rem;
  display: flex;
  justify-content: space-between;
}
section .list li .top .lef {
  display: flex;
  align-items: center;
}
section .list li .top .lef .icon-user {
  font-size: 2.375rem;
  width: 3.75rem;
  height: 3.75rem;
  color: white;
  background: #dcdcdc;
  border-radius: 50%;
  text-align: center;
  line-height: 3.75rem;
}
section .list li .top .lef .mean {
  font-size: 1.75rem;
  color: #39C894;
  padding-left: 1.25rem;
}
section .list li .top .times {
  font-size: 1.75rem;
  color: #999;
}
section .list li .con {
  font-size: 2.25rem;
  color: #000;
}
section .btn {
  width: 100%;
  background: white;
  padding: 2.25rem 0;
  display: flex;
  justify-content: center;
}
section .btn button {
  width: 14.625rem;
  height: 5.125rem;
  font-size: 2.25rem;
  background: #39C894;
  color: white;
  text-align: center;
  border: none;
  line-height: 5.125rem;
}
section .btn p {
  width: 14.6875rem;
  background: white;
  height: 5.125rem;
  line-height: 5.125rem;
  text-align: center;
  font-size: 2.25rem;
}
section .content1 {
  width: 100%;
  padding: 2.25rem 1.875rem 2.25rem 1rem;
  background: white;
  font-size: 1.75rem;
  color: #333;
  text-indent: 4.5rem;
  letter-spacing: 0.32rem;
  line-height: 3.375rem;
  margin: 1.125rem 0;
}
section .mb {
  width: 100%;
  height: 6.5625rem;
  background: black;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
}
section .mb .img1 {
  width: 2.875rem;
  height: 2.875rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
section .mb .img2 {
  width: 26.3125rem;
  height: 5.6875rem;
  position: absolute;
  top: 0;
  left: 4.6875rem;
  z-index: 1;
}
section .mb button {
  width: 11rem;
  height: 3.125rem;
  background: #feb605;
  border: none;
  border-radius: 5rem;
  position: absolute;
  top: 1.5625rem;
  right: 2.25rem;
  z-index: 1;
  color: white;
  font-size: 1.5625rem;
}

footer {
  width: 100%;
  border-top: 0.3rem solid #F4F4F4;
  background: white;
  font-size: 1.75rem;
}
footer div {
  width: 100%;
  margin: 2rem 0;
  text-align: center;
}
footer div span {
  font-size: 1.75rem;
}
footer div .iconfont {
  font-size: 1.75rem;
  color: #39C893;
}
footer ul {
  width: 100%;
  display: flex;
  padding-bottom: 2rem;
}
footer ul li {
  width: 25%;
  height: 100%;
  text-align: center;
  font-size: 1.75rem;
}
footer ul li:nth-of-type(1) {
  color: #39C893;
}

/*# sourceMappingURL=fifteen.css.map */
