*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    font-size: 100%;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 6.375rem;
    padding: 1rem 1.125rem;
    display: flex;
    justify-content: space-between;
    img:nth-of-type(1){
        width: 13.375rem;
        height: 4.5625rem;
    }
    .logo{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color: #999;
        .one{
            height: 100%;
            margin-right: 2.375rem;
            line-height: 2.5rem;
            display: flex;
            flex-direction: column;
            .iconfont{
                font-size: 2.6875rem;
            }
            p{
                font-size: 1.375rem;
            }
        }
        .two{
            height: 100%;
            line-height: 2.5rem;
            display: flex;
            flex-direction: column;
            .iconfont{
                font-size: 2.0625rem;
            }
            p{
                font-size: 1.375rem;
            }
        }
            
    }
}

section{
    width: 100%;
    background: #F4f4f4;
    .banner{
        width: 100%;
        height: 14.75rem;
        background: white;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .btnGroup{
        width: 100%;
        background: white;
        padding: 2.25rem 0 2.5rem 0;
        font-size: 1.75rem;
        ul{
            width: 100%;
            display: flex;
            li{
                width: 25%;
                padding: 0 2.1875rem;
                text-align: center;
                .iconfont{
                    font-size: 4.25rem;
                    width: 7.5rem;
                    height: 7.5rem;
                    line-height: 7.5rem;
                    color: white;
                    border-radius: 50%;
                    background: #39C894;
                }
                p:nth-of-type(2){
                    color: #333;
                }
            }
        }
        ul:nth-of-type(1){
            li:nth-of-type(2){
                .iconfont{
                    background: #FEB505;
                }
            }
            li:nth-of-type(3){
                .iconfont{
                    background: #EED215;
                }
            }
            li:nth-of-type(4){
                .iconfont{
                    background: #00b2b2;
                }
            }
        }
        ul:nth-of-type(2){
            margin-top: 3.25rem;
            li:nth-of-type(1){
                .iconfont{
                    background: #1b9af7;
                }
            }
            li:nth-of-type(2){
                .iconfont{
                    background: #7B72E9;
                }
            }
            li:nth-of-type(3){
                .iconfont{
                    background: #ff4351;
                }
            }
            li:nth-of-type(4){
                .iconfont{
                    background: #fe8864;
                }
            }
        }
    }
    .qwzx{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        margin: 1.125rem 0;
        .top{
            width: 100%;
            padding: 2rem 0;
            display: flex;
            align-items: center;
            .green{
                margin-left: 1.125rem;
                width: 0.3125rem;
                height: 2.625rem;
                background: #39C894;
            }
            p:nth-of-type(2){
                font-size: 2.25rem;
                letter-spacing: 0.75rem;
                margin-left: 0.75rem;
            }
            p:nth-of-type(3){
                font-size: 1.5rem;
                color: #999;
            }
        }
        .banner{
            width: 44.5625rem;
            height: 25.125rem;
            margin: 0 auto;
            display: inline-block;
        }
        .yuandi{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.125rem 0 2.25rem 0;
            span{
                display: inline-block;
                width: 1rem;
                height: 1rem;
                background: #39C894;
                border-radius: 50%;
                margin: 0 1rem;
            }
            span:nth-of-type(2){
                background: #666;
            }
        }
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 1.125rem;
            align-items: center;
            li{
                display: flex;
                align-items: center;
                p:nth-of-type(1){
                    font-size: 2.25rem;
                    color: #39C894;
                    padding-right: 0.75rem;
                }
                p:nth-of-type(2){
                    font-size: 1.75rem;
                    color: #000;
                }
            }
        }
    }
    .zxyy{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        padding-bottom: 2.25rem;
        .top{
            width: 100%;
            padding: 1.875rem 0 1.5625rem 0;
            display: flex;
            align-items: center;
            .green{
                margin-left: 1.125rem;
                width: 0.3125rem;
                height: 2.625rem;
                background: #39C894;
            }
            p:nth-of-type(2){
                font-size: 2.25rem;
                letter-spacing: 0.75rem;
                margin-left: 0.75rem;
            }
            p:nth-of-type(3){
                font-size: 1.5rem;
                color: #999;
            }
        }
        .int{
            width: 100%;
            text-align: center;
            input{
                width: 36.625rem;
                height: 4.375rem;
                padding-left: 1rem;
                border: 0.0625rem solid #eaeaea;
                border-radius: 5px;
                margin: 1.5625rem 0;
            }
            input:nth-of-type(1){
                margin-bottom: 0;
            }
            input:nth-of-type(3){
                margin-top: 0;
            }
            button{
                width: 36.625rem;
                height: 4.375rem;
                border-radius: 5px;
                font-size: 2.25rem;
                background: #feb505;
                color: white;
                border: none;
            }
        }
    }
    .userself{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        margin: 1.125rem 0;
        padding-bottom: 2.25rem;
        .top{
            width: 100%;
            padding: 1rem 0 2.5rem 0;
            display: flex;
            align-items: center;
            .green{
                margin-left: 1.125rem;
                width: 0.3125rem;
                height: 2.625rem;
                background: #39C894;
            }
            p:nth-of-type(2){
                font-size: 2.25rem;
                letter-spacing: 0.75rem;
                margin-left: 0.75rem;
            }
        }
        ul{
            width: 100%;
            display: flex;
            li{
                width: 25%;
                padding: 0 1.5625rem 2.25rem 1.5625rem;
                text-align: center;
                display: flex;
                flex-direction: column;
                img{
                    display: inline-block;
                    width: 8.75rem;
                    height: 8.75rem;
                    border-radius: 50%;
                }
                p:nth-of-type(1){
                    margin-top: 1.5625rem;
                    font-size: 2.25rem;
                    color: #000;
                }
                p:nth-of-type(2){
                    width: 7.5rem;
                    height: 2rem;
                    line-height: 2rem;
                    color: white;
                    margin: 0 auto;
                    font-size: 1.5rem;
                    border-radius: 5px;
                    background: #39C894;
                }
            }
        }
        ol{
            width: 100%;
            display: flex;
            li{
                width: 50%;
                border: 0.0625rem solid #EAEAEA;
                height: 4.375rem;
                text-align: center;
                line-height: 4.375rem;
                span{
                    font-size: 1.75rem;
                    color: #39C894;
                    padding-left: 1rem;
                }
            }
            li:nth-of-type(1){
                span:nth-of-type(1){
                    padding-left: 0;
                }
            }
            li:nth-of-type(2){
                span:nth-of-type(1){
                    padding-left: 0;
                }
            }
        }
    }
    .finish-img{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        .top{
            width: 100%;
            padding: 1.875rem 0 1.875rem 0;
            display: flex;
            align-items: center;
            .green{
                margin-left: 1.125rem;
                width: 0.3125rem;
                height: 2.625rem;
                background: #39C894;
            }
            p:nth-of-type(2){
                font-size: 2.25rem;
                letter-spacing: 0.75rem;
                margin-left: 0.75rem;
            }
        }
        .img{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 0.75rem;
            div{
                width: 44.75rem;
                height: 31.625rem;
                margin: 0 auto;
                position: relative;
                img{
                    width: 44.75rem;
                    height: 31.625rem;
                }
                p{
                    position: absolute;
                    right: 0.8125rem;
                    bottom: 0.75rem;
                    color: white;
                    width: 4.375rem;
                    height: 2.625rem;
                    font-size: 1.75rem;
                    text-align: center;
                    line-height: 2.625rem;
                    border-radius: 5px;
                    background: rgba(0,0,0,0.5);
                }
            }
            ul{
                width: 44.75rem;
                height: 15.625rem;
                margin: 0.5rem auto;
                display: flex;
                li{
                    width: 50%;
                    height: 100%;
                    img{
                        width: 22.125rem;
                        height: 15.625rem;
                    }
                }
                li:nth-of-type(1){
                    margin-right: 0.5rem;
                }
            }
            ul:nth-of-type(2){
                margin-top: 0;
            }
        }
        ol{
            width: 100%;
            margin: 2.25rem 0;
            display: flex;
            li{
                width: 50%;
                border: 0.0625rem solid #EAEAEA;
                height: 4.375rem;
                text-align: center;
                line-height: 4.375rem;
                span{
                    font-size: 1.75rem;
                    color: #39C894;
                    padding-left: 1rem;
                }
            }
            li:nth-of-type(1){
                span:nth-of-type(1){
                    padding-left: 0;
                }
            }
            li:nth-of-type(2){
                span:nth-of-type(1){
                    padding-left: 0;
                }
            }
        }
    }
    .gdzb{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        margin: 1rem 0;
        .top{
            width: 100%;
            padding: 1rem 0 2.5rem 0;
            display: flex;
            align-items: center;
            .green{
                margin-left: 1.125rem;
                width: 0.3125rem;
                height: 2.625rem;
                background: #39C894;
            }
            p:nth-of-type(2){
                font-size: 2.25rem;
                letter-spacing: 0.75rem;
                margin-left: 0.75rem;
            }
        }
        .img{
            width: 44.75rem;
            height: 33.375rem;
            padding: 0;
            margin: 0 auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
        div{
            padding: 1.5625rem 0 0 1.125rem;
            margin-bottom: 2rem;
            font-size: 1.75rem;
            color: #000;
            span{
                display: inline-block;
                background: #37C993;
                color: white;
                border-radius: 5px;
                padding: 0 0.5rem;
            }
        }
        ol{
            width: 100%;
            margin: 0 0 2.25rem 0;
            display: flex;
            li{
                width: 50%;
                border: 0.0625rem solid #EAEAEA;
                height: 4.375rem;
                text-align: center;
                line-height: 4.375rem;
                span{
                    font-size: 1.75rem;
                    color: #39C894;
                    padding-left: 1rem;
                }
            }
            li:nth-of-type(1){
                span:nth-of-type(1){
                    padding-left: 0;
                }
            }
            li:nth-of-type(2){
                span:nth-of-type(1){
                    padding-left: 0;
                }
            }
        }
    }
    .zxgl{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        .top{
            width: 100%;
            padding: 2.25rem 0 1.5625rem 0;
            display: flex;
            align-items: center;
            .green{
                margin-left: 1.125rem;
                width: 0.3125rem;
                height: 2.625rem;
                background: #39C894;
            }
            p:nth-of-type(2){
                font-size: 2.25rem;
                letter-spacing: 0.75rem;
                margin-left: 0.75rem;
            }
        }
        ul{
            width: 100%;
            padding: 0 1.125rem;
            li{
                display: flex;
                img{
                    width: 11.875rem;
                    height: 9.0625rem;
                }
                .txt{
                    margin-left: 1.375rem;
                    p{
                        font-size: 2.25rem;
                        line-height: 3.75rem;
                        color: #000;
                    }
                    span{
                        font-size: 1.75rem;
                        color: #999;
                    }
                    span:nth-of-type(1){
                        margin-right: 4.6875rem;
                    }
                }
            }
            hr{
                width: 100%;
                margin: 1.9375rem 0 2rem 0;
            }
        }
        ol{
            width: 100%;
            margin: 2.25rem 0;
            display: flex;
            li{
                width: 50%;
                border: 0.0625rem solid #EAEAEA;
                height: 4.375rem;
                text-align: center;
                line-height: 4.375rem;
                span{
                    font-size: 1.75rem;
                    color: #39C894;
                    padding-left: 1rem;
                }
            }
            li:nth-of-type(1){
                span:nth-of-type(1){
                    padding-left: 0;
                }
            }
            li:nth-of-type(2){
                span:nth-of-type(1){
                    padding-left: 0;
                }
            }
        }
    }
    .content{
        width: 100%;
        padding: 2.25rem 1.875rem 2.25rem 1rem;
        background: white;
        font-size: 1.75rem;
        color: #333;
        text-indent: 4.5rem;
        letter-spacing: 0.32rem;
        line-height: 3.375rem;
        margin: 1.125rem 0; 
    }
    .mb{
        width: 100%;
        height: 6.5625rem;
        background: black;
        position: fixed;
        bottom: 0;
        background: rgba(0,0,0,0.9);
        .img1{
            width: 2.875rem;
            height: 2.875rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .img2{
            width: 26.3125rem;
            height: 5.6875rem;
            position: absolute;
            top: 0;
            left: 4.6875rem;
            z-index: 1;
        }
        button{
            width: 11rem;
            height: 3.125rem;
            background: #feb605;
            border: none;
            border-radius: 5rem;
            position: absolute;
            top: 1.5625rem;
            right: 2.25rem;
            z-index: 1;
            color: white;
            font-size: 1.5625rem;
        }
    }
}

    
footer{
    width: 100%;
    border-top: 0.3rem solid #F4F4F4;
    background: white;
    font-size: 1.75rem;
    div{
        width: 100%;
        margin: 2rem 0;
        text-align: center;
        span{
            font-size: 1.75rem;
        }
        .iconfont{
            font-size: 1.75rem;
            color: #39C893;
        }
    }
    ul{
        width: 100%;
        display: flex;
        padding-bottom: 2rem;
        li{
            width: 25%;
            height: 100%;
            text-align: center;
            font-size: 1.75rem;
        }
        li:nth-of-type(1){
            color: #39C893;
        }
    }
}